<header>
  <div id="upwrap">
    <div id="upperHeader">
      <img id="logo" src="/images/cardLogo2.png" alt="logo" />

      <div id="searchBarWrap">
        <input type="text" id="searchBarInput" placeholder="Search..." />
        <button id="searchSubmitBtn">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>

      <div id="headerButtons">
        <button class="headButton" id="searchIconButton">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button class="headButton">
          <i id="headIcon" class="fa-solid fa-cart-shopping"></i>
        </button>
        <button class="headButton">
          <i id="headIcon" class="fa-solid fa-bars"></i>
        </button>
      </div>

      <button class="headButton" id="closeSearch" class="headButton closeBtn">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

<div id="lowerHeader">
  <a href="/" class="nav-item <%= active === 'home' ? 'active' : '' %>">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  </a>
  <a href="/store" class="nav-item <%= active === 'store' ? 'active' : '' %>">
    <i class="fa-solid fa-store"></i>
    <span>Store</span>
  </a>
  <a href="/orders" class="nav-item <%= active === 'orders' ? 'active' : '' %>">
    <i class="fa-solid fa-box"></i>
    <span>Orders</span>
  </a>
  <a href="/repair" class="nav-item <%= active === 'repair' ? 'active' : '' %>">
    <i class="fa-solid fa-screwdriver-wrench"></i>
    <span>Repair</span>
  </a>
  <a href="/profile" class="nav-item <%= active === 'profile' ? 'active' : '' %>">
    <i class="fa-solid fa-user"></i>
    <span>Profile</span>
  </a>
</div>


</header>


<!-- 🛒 Cart Modal -->
<div id="cart-modal" class="cart-modal">
  <div class="cart-modal-content">
    <button id="close-cart" class="close-cart">&times;</button>

    
    <!-- Cart content -->
   <%- include('./cartModal', {
  cartItems: cartItems || [],
  cartTotal: cartTotal || 0,
  cartUserLoggedIn: cartUserLoggedIn || false,
  user: user || null
}) %>
  </div>
</div>


