<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="css/storeHeader.css" />
    
    
    <script
      src="https://kit.fontawesome.com/3a523928fc.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/cart.js"></script>
    <script src="javascript/store.js"></script>
  </head>
  <body class="profile-page">
    <%- include(`../partials/storeHeader`) %>
    <%- include(`../partials/fonts`) %>
    <%- include('../partials/addressModal') %>

   <% if (user) { %>
  

  <div class="profile-card">
    <div id="profile">

    </div>
    <div id="info-card">
      <p id="info-name"> <%= user.name %></p>
      <p id="info-email"><strong>Email:</strong> <%= user.email %></p>
      <p id="info-phone"><strong>Phone:</strong> <%= user.phone %></p>
    </div>
    
  </div>

  <div id="margin-body"></div>

  <% if (user.address) { %>
<div class="address-info">
   
   <i class="fa-solid fa-location-dot"></i>
  
  
    <!-- Address details -->
  <div id="address-box">
    <p id="address"><%= user.address.fullName %></p>
    <p id="address"><%= user.address.flat %>, <%= user.address.area %>, <%= user.address.city %></p>
    <p id="address"><%= user.address.state %>, <%= user.address.pincode %></p>
  </div>

  <div>
  <button
    id="address-btn"
    type="button"
    class="change-address-btn"
    data-address='<%- JSON.stringify(user.address || {}) %>'
    onclick="openAddressModalFromBtn(this)"
  >
    Change
  </button>
</div>


</div>
<% } %>

<div id="profile-anchor">
  <!-- My Orders -->
  <a href="/orders" class="profile-box">
    <i class="fa-solid fa-box"></i>
    <p>My<br>Orders</p>
  </a>

  <!-- Contact Us -->
  <a href="/contact" class="profile-box">
    <i class="fa-solid fa-headset"></i>
    <p>Contact<br>Us</p>
  </a>

    <!-- Cart -->
  <a href="/cart" class="profile-box">
    <i class="fa-solid fa-cart-shopping"></i>
    <span>My<br>Cart</span>
  </a>
</div>

<div id="profile-list">
  <a href="/profile/edit" class="profile-item">
    <i class="fa-solid fa-user-pen"></i>
    <span>Edit Profile</span>
  </a>

  <a href="/orders" class="profile-item">
    <i class="fa-solid fa-box"></i>
    <span>My Orders</span>
  </a>

  <a href="/terms" class="profile-item">
    <i class="fa-solid fa-file-contract"></i>
    <span>Terms & Conditions</span>
  </a>

  <a href="/privacy" class="profile-item">
    <i class="fa-solid fa-shield-halved"></i>
    <span>Privacy Policy</span>
  </a>

  <a href="/returns" class="profile-item">
    <i class="fa-solid fa-rotate-left"></i>
    <span>Return Policy</span>
  </a>

  <a href="/cookies" class="profile-item">
    <i class="fa-solid fa-cookie-bite"></i>
    <span>Cookie Policy</span>
  </a>

  <a href="/contact" class="profile-item">
    <i class="fa-solid fa-headset"></i>
    <span>Contact Us</span>
  </a>

  <a href="/logout" class="profile-item logout-item">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Logout</span>
  </a>
</div>


  
<% } else { %>
  <h1 id="title">You need to log in to see your profile</h1>
  <img id="login-image" src="images/login.jpg">
  <div id="btn-container2">
   <a href="/login" id="btnn">Login</a> 
   <a href="/register" id="btn2">Register</a>
  </div>
<% } %>


    
  </body>
</html>
