<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="css/storeHeader.css" />
    
    
    <script
      src="https://kit.fontawesome.com/3a523928fc.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/cart.js"></script>
    <script src="javascript/store.js"></script>
  </head>
  <body class="profile-page">
    <%- include(`../partials/storeHeader`) %>
    <%- include(`../partials/fonts`) %>

   <% if (user) { %>
  

  <div class="profile-card">
    <div id="profile">

    </div>
    <div id="info-card">
      <p id="info-name"> <%= user.name %></p>
      <p id="info-email"><strong>Email:</strong> <%= user.email %></p>
      <p id="info-phone"><strong>Phone:</strong> <%= user.phone %></p>
    </div>
    
  </div>

  <% if (user.address) { %>
<div class="address-info">
   
   <i class="fa-solid fa-location-dot"></i>
  
  
    <!-- Address details -->
  <div id="address-box">
    <p id="address"><%= user.address.fullName %></p>
    <p id="address"><%= user.address.flat %>, <%= user.address.area %>, <%= user.address.city %></p>
    <p id="address"><%= user.address.state %>, <%= user.address.pincode %></p>
  </div>

  <form action="/profile/address/edit" method="get">
    <button id="address-btn" type="submit">Change</button>
  </form>


</div>
<% } %>

  
<% } else { %>
  <h1 id="title">You need to log in to see your profile</h1>
  <img id="login-image" src="images/login.jpg">
  <div id="btn-container2">
   <a href="/login" id="btnn">Login</a> 
   <a href="/register" id="btn2">Register</a>
  </div>
<% } %>


    
  </body>
</html>
